h1{
    color:red;
    text-align: center;
    font-family: 'Georama', sans-serif;
    font-size: 2rem;
}
#small{
    text-align: center;
    font-style: italic;
}
.noticia{
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    font-size: 1rem;
}
