body{
    text-align: center;
    background-color: cornsilk;
}
h1{
    color:red;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}
#small{

    font-style: italic;
}
.noticia{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
}

